<div class="cart-widget">
    <div class="title">Корзина</div>
    <table class="products"></table>
    <div class="total-price"></div>
    <div class="buy-action">
    <a href="/cart">В корзину</a>
</div>
</div>