<footer>
    <p></p>
    <p style="border-top: 1px solid black;">Административные функции: </p>
    <p>
    <a href="/admin/category">Добавить категорию</a>
    ||
    <a href="/admin/product">Добавить продукт</a>
    </p>
</footer>